<%= simple_format @body %>

<hr>
This email sent from <a href="http://www.improvcoaches.com">ImprovCoaches.com</a> on behalf of <%= @user_from.email %>.  Any replies to this message will be sent to them.