<div class="page-header">
	<h1>Profile</h1>
</div>

<div class="row">
    <div class="col-sm-6 col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          Your Profile
        </div>
        <div class="panel-body">
          <%= render "edit_links", current: :schedule %>
        </div>
      </div>
    </div>

<div class="col-sm-12 col-md-10">
	<%= render "schedules/form", schedule: current_user.schedule %>
</div>