$("#alerts").append(
	$("<div class='alert btn-block alert-dismissable alert-<%= level %>'><%= message %> <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button> </div>")
);