<div id="fb-root"></div>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= ENV['FACEBOOK_APP_ID'] %>',
      cookie     : true,
      xfbml      : true,
      version    : 'v10.0'
    });
      
    FB.AppEvents.logPageView();
    
    FB.getLoginStatus(function(response) {
        if(response.status == 'connected'){

        }else{
          FB.login()
        }
    });

        // FB.Event.subscribe('comment.create', function(request){
    //   var authRepsonse =  FB.getAuthResponse();

    //   $.post(request.href+"/comment", { comment_id: request.commentID, access_token: authRepsonse.accessToken }, function(data, textStatus, jqXHR){
    //     console.log("comment logged");
    //   });
    // });
     
      
  };
</script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>