<h1>About ImprovCoaches.com</h1>
ImprovCoaches.com was created in 2013 by Joe Burns.  He tweets occassionally at <%= link_to "@JoeMcB", "http://www.twitter.com/#!/joemcb" %>.

<h3>Technical Details</h3>
	ImprovCoaches.com is written in Ruby on Rails and hosted on Heroku.  You can view the source code on <%= link_to 'Github', 'https://github.com/JoeMcB/improvcoaches'%>

	Quick shout outs to:
	<ul>
		<li>Bootstrap</li>
		<li>gem paperclip</li>
		<li>gem recommendable</li>
		<li>gem will-paginate</li>
		<li>gem omniauth</li>
		<li>Redis-to-Go</li>
		<li>Heroku Postgres</li>
	</ul>

