<h1>Improv Books and Resources</h1>

<h3>For Performers</h3>
<p>If you're a seasoned pro looking for a new perspective, or new to the joy of improv devouring everything you can find, these books are considered the best of the best.</p>
<script type="text/javascript">
	amzn_assoc_placement = "adunit0";
	amzn_assoc_tracking_id = "improvcocom-20";
	amzn_assoc_ad_mode = "manual";
	amzn_assoc_ad_type = "smart";
	amzn_assoc_marketplace = "amazon";
	amzn_assoc_region = "US";
	amzn_assoc_title = "";
	amzn_assoc_linkid = "9b7221ee3ab8fd2dd5f70e32e15c09bd";
	amzn_assoc_asins = "1566080037,0989387801,156608198X,0977309339,0878301178,0982625723,1581159811,1566081998";
	amzn_assoc_search_bar = "false";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>



<h3>Improv History</h3>
<p>Want to know how "making stuff up" became an actual art form?</p>
<script type="text/javascript">
	amzn_assoc_placement = "adunit0";
	amzn_assoc_tracking_id = "improvcocom-20";
	amzn_assoc_ad_mode = "manual";
	amzn_assoc_ad_type = "smart";
	amzn_assoc_marketplace = "amazon";
	amzn_assoc_region = "US";
	amzn_assoc_title = "";
	amzn_assoc_linkid = "9b7221ee3ab8fd2dd5f70e32e15c09bd";
	amzn_assoc_asins = "1566636140,0879100737,0226113450,0810118017";
	amzn_assoc_search_bar = "false";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>

<h3>Funny Business</h3>
<p>Improv training is life training.  Plenty of struggling comedians have used this idea to pitch books aimed at professionals trying to loosen up in their workplace!</p>
<script type="text/javascript">
	amzn_assoc_placement = "adunit0";
	amzn_assoc_tracking_id = "improvcocom-20";
	amzn_assoc_ad_mode = "manual";
	amzn_assoc_ad_type = "smart";
	amzn_assoc_marketplace = "amazon";
	amzn_assoc_region = "US";
	amzn_assoc_title = "";
	amzn_assoc_linkid = "9b7221ee3ab8fd2dd5f70e32e15c09bd";
	amzn_assoc_asins = "0804795800,0071768211,1482762250,0997703008";
	amzn_assoc_search_bar = "false";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
