<style>
	img.splash{
		display: block;
		margin: auto auto;
	}

	div.details{
		text-align: center;
	}

	div.details i{
		font-size: 24px;
	}
</style>

<%= image_tag "logo_splash.png", :class => :splash%>

<div class="details">
	<br />
	<br />
	<i>Coming Soon</i>
	<br />
	<br />
	<br />
	<br />
	<%= link_to "Beta Access", "/" %> - <%= mail_to "joseph.burns+ic@gmail.com", "Email Me" %>
</div>