Hey there!<br/>
<%= @invite.owner.name %> thinks you'd be a good coach to have on <%= link_to "ImprovCoaches.com", root_url(subdomain: @invite.owner.city.subdomain) %>.  Interested?  To activate your account as a coach, just visit <%= link_to invite_landing_url(@invite, subdomain: @invite.owner.city.subdomain), invite_landing_url(@invite, subdomain: @invite.owner.city.subdomain) %>.  If you have an existing account, you'll be upgraded.  Otherwise you can make one via Facbeook.

<hr>
This email sent courtesy of <a href="https://www.improvcoaches.com">ImprovCoaches.com</a>