// Place all the styles related to the password_resets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.password_resets{
	form{
		width: 330px;
		padding: 15px;
		margin: 0 auto;
	}
}